h1{
  color: white;
  font-family: verdana;
  font-size: 50px;
}

h4{
  color: aquamarine;
  font-size: 16px;
}
body{
  text-align: center;
  background-color: black;
}
p{
  font-family: verdana;
  font-size: 21px;
  color: grey;
}
#footer{
  text-align: right;
  color: grey;
}
p{
  font-family: verdana;
  font-size: 21px;
  color: grey;
}
h2{
  font-family: verdana;
  font-weight: 300;
  font-size: 42px;
}
#alpha{
  text-align: center;
}
